:root {
  --tile-border-size: 1px;
  --tile-size: 4em;
  --header-height: 60px;
  --grid-size: calc(var(--tile-size) * 8);  /* 8x8 playboard */
  --gray: hsla(0, 0%, 0%, .1);
  --light-gray: #fefefe;
  --dark-gray: hsla(0, 0%, 0%, .25);
  --player1-color: #509eb8;
  --player1-secondary-color: #7fbfd4;
  --player2-color: #ff6447;
  --player2-secondary-color: #ffa595;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #55cc7d;
}

h1,
h2,
h3,
.player-info {
  display: inline-flex;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #555;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

main {
  height: calc(100vh - var(--header-height));
  width: 900px;
  font-size: 2.5vh;
  align-self: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.player-info {
  position: absolute;
  font-size: 34px;
  top: 50px;
  background: transparent;
  padding: 0 10px;
  transform: skew(-5deg);
}

.player-info p {
  width: 100px;
  margin: 0;
  transform: skew(5deg);
}

.player-info.player1 {
  left: 0;
  background-color: var(--player1-secondary-color);
}

.active-player {
  transition: .4s ease-in;
}

.player-info.player1.active-player {
  background-color: var(--player1-color);
  box-shadow: 0 0 40px 5px var(--player1-color);
}

.player-info.player2 {
  right: 0;
  background-color: var(--player2-secondary-color);
}

.player-info.player2.active-player {
  background-color: var(--player2-color);
  box-shadow: 0 0 40px 5px var(--player2-color);
}

.game {
  position: relative;
  width: var(--grid-size);
  height: var(--grid-size);
  transform: rotateX(120deg) rotateZ(45deg);
  transform-style: flat;
  box-shadow: -10px -10px 10px 0 var(--gray);
}

.background-grid {
  z-index: 1;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: var(--gray);
  width: inherit;
  height: inherit;
  box-shadow: 0 0 600px 200px var(--gray);
}

.areas {
  z-index: 2;
  display: flex;
  flex-flow: row wrap-reverse;
}

.area {
  box-sizing: border-box;
  z-index: 3;
  background-color: var(--light-gray);
  transition: all .2s ease-in,
              background .27s ease-in,
              border 0;
  height: var(--tile-size);
  width: var(--tile-size);
  border: var(--tile-border-size) solid var(--gray);
}

.area-active {
  z-index: 4;
  position: relative;
  top: 4px;
  left: 4px;
  border-width: calc(var(--tile-border-size) * 3);
  border-color: var(--dark-gray);
  transform: scale(1.05);
  transition: background, transform .15s ease-in;
  box-shadow: -7px -7px var(--dark-gray);
  animation-name: grow-shrink;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.area.player1 {
  background-color: var(--player1-color);
}

.area.player2 {
  background-color: var(--player2-color);
}

.area.conquerable {
  background-color: #83e0a2;
  transition: background .35s ease-in;
}

.area.conquerable-by-sacrifice {
  background-color: #ffcb95;
  transition: background .35s ease-in;
}

.area-selectable {
  cursor: pointer;
}

.area-selectable:hover {
  border-width: calc(var(--tile-border-size) * 3);
  border-color: var(--dark-gray);
}

@keyframes grow-shrink {
  100% {
    transform: scale(1.15);
  }
}
