:root {
  --tile-border-size: 1px;
  --tile-size: 4em;
  --header-height: 60px;
  --grid-size: calc(var(--tile-size) * 8);  /* 8x8 playboard */
  --gray: hsla(0, 0%, 0%, .1);
  --white: #fefefe;
  --dark-gray: hsla(0, 0%, 0%, .25);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #55cc7d;
}

h1,
h2,
h3 {
  display: inline-flex;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #555;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

main {
  height: calc(100vh - var(--header-height));
  font-size: 2.5vh;
  align-self: center;
  display: flex;
  justify-content: center;
}

.game {
  position: relative;
  width: var(--grid-size);
  height: var(--grid-size);
  transform: rotateX(120deg) rotateZ(45deg);
  transform-style: preserve-3d;
  box-shadow: -10px -10px 10px 0 var(--gray);
}

.background-grid {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: var(--gray);
  width: inherit;
  height: inherit;
  box-shadow: 0 0 600px 200px var(--gray);
}

.areas {
  display: flex;
  flex-flow: row wrap-reverse;
}

.area {
  box-sizing: border-box;
  z-index: 1;
  background-color: #fcfcfc;
  height: var(--tile-size);
  width: var(--tile-size);
  border: var(--tile-border-size) solid var(--gray);
}

.area:focus {
  z-index: 2;
  position: relative;
  outline: none;
  top: 4px;
  left: 4px;
  transform: scale(1.05);
  transition: background, transform .15s ease-in;
  box-shadow: -7px -7px var(--gray);
  animation-name: grow-shrink;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.area.player1 {
  background-color: #509eb8;
}

.area.player2 {
  background-color: #ff6447;
}

.area.conquerable {
  background-color: #34bb62;
}

.area.sacrificeable {
  background-color: #ffa547;
}

@keyframes grow-shrink {
  100% {
    transform: scale(1.15);
  }
}
